@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #aa4729;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1  {
  padding: 10px;
  text-align: center;
  background: #bc3a1a;
  color: #dfa97c;
  font-size: 50px;
  margin: 0;
    }

header {
    background-color: #694b37;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.search {
    background-color: transparent;
    border: 2px solid #4b2e22;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #c59b73
} 

.search:focus {
    outline: none;
    background-color: #4b3122;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #694737;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin: 1rem;
    width: 300px;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #4b2822;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(214, 212, 81);
}

.movie-info span.orange {
    color: rgb(236, 164, 97);
}

.movie-info span.red {
    color: rgb(190, 58, 40);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
} 